<!DOCTYPE html>
<html lang="en">

<head>

    {{> head}}
    <base href="/">

    <link rel="stylesheet" href="/assets/less/dist/home.css">
</head>

<body>

    {{> nav}}
    {{> header}}

    <div class="inner-body">

        <div id="home-page">
            <div class="astro" data-aos-duration="1000" data-aos="fade-in" data-aos-delay="700">
                <img src="/assets/svg/11.svg" class="bg">
                <div class="half-moon"></div>
                <div class="small-moon"></div>
                <div class="extra-small-moon"></div>
                <div class="text-logo" data-aos-duration="700" data-aos="fade-in" data-aos-delay="1100"></div>
            </div>

        </div>

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>