<!DOCTYPE html>

<html lang="en">

<head>

    {{> head}}

</head>

<body>

    {{> loader}}


    <div class="inner-body">

        {{> nav}}
        {{> header}}

        <div id="home-page">

            <section class="categories  ">
                <div class="container">
                    <div class="box">
                        <ul>

                            <li class="splitter">
                                خدمات
                            </li>


                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-business-api.svg" alt="">

                                    سرویس ذخیره‌سازی فایل

                                    <span class="badge">REST API</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-mail-agent.svg" alt="">

                                    سرویس ارسال ایمیل
                                    <span class="badge">REST API</span>

                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-sms-agent.svg" alt="">
                                    سرویس ارسال پیامک
                                    <span class="badge">REST API</span>

                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-sms-agent.svg" alt="">
                                    سرویس دیتابیس
                                    <span class="badge">REST API</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-business-client.svg" alt="">
                                    سرویس مانیتورینگ زیرساخت
                                    <span class="badge">REST API</span>
                                </a>
                            </li>






                        </ul>
                    </div>

                    <div class="box">
                        <ul>



                            <li class="splitter">
                                محصولات
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-business-pwa.svg" alt="">
                                    <div class="text">
                                        <div class="title">
                                            مدیریت ارتباط با مشتریان

                                        </div>
                                        <p>
                                            تحلیل، مدیریت و ساخت تریگر بر روی رفتار مشتری شامل خدمات، فروش، شکایت و ...
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-business-pwa.svg" alt="">

                                    <div class="text">
                                        <div class="title">
                                            داشبورد داینامیک
                                        </div>
                                        <p>
                                            داشبورد اتوماسیون کسب‌و‌کار خود را بدون نیاز به برنامه‌نویسی بسازید.
                                            فرم‌ساز، گزارش‌ساز و نمودارهای خودکار سرندیپ در اختیار شما هستند.
                                        </p>
                                    </div>

                                    <div class="clearfix"></div>
                                </a>

                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-framework-1.svg" alt="">

                                    مدیریت فایل
                                    <span class="badge">ANDROID</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-business-pwa.svg" alt="">
                                    تقویم کاری
                                    <span class="badge">ANDROID</span>
                                </a>
                            </li>





                        </ul>
                    </div>



                    <div class="box en">
                        <ul>

                            <li class="splitter">
                                Open source projects
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-framework-1.svg" alt="">
                                    <div class="text">
                                        <div class="title">
                                            Serendip Framework
                                        </div>
                                        <p>
                                            A Node.js web service framework written in typescript.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>

                                </a>
                            </li>


                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-web.svg" alt="">
                                    <div class="text">
                                        <div class="title">
                                            Serendip Web
                                        </div>
                                        <p>
                                            It's a lightweight web server for creating websites using handlebars and
                                            javascript.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>

                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="assets/logos/serendip-mongodb-provider.svg" alt="">
                                    <div class="text">
                                        <div class="title">
                                            Serendip GridDB Provider
                                        </div>
                                        <p>
                                            Grid database using remote stand alone MongoDB instances. </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>


                            <li class="more">
                                <a href="">
                                    more on github
                                </a>
                            </li>





                        </ul>
                    </div>


                    <div class="clear"></div>

                </div>
            </section>

            <section class="solar">
                <img src="assets/serendip-arch-galaxy-1.svg" alt="">
            </section>


        </div>
        {{> footer}}
    </div>




</body>
{{> scripts}}

</html>