@keyframes homeAstro {
  0% {
    transform: scale(1);

  }

  50% {
    transform: scale(.97);

  }

  100% {
    transform: scale(1);

  }
}

#home-astro {
  position: relative;

  .bg {
    width    : 100%;
    position : relative;
    display  : block;
    filter   : drop-shadow(0 0 10px #D5C19E);
    // filter: drop-shadow(0 1px 10px rgba(190, 162, 113, 0.4));
  }

  >div {
    position         : absolute;
    background-size  : contain;
    background-repeat: no-repeat;
  }

  .human {
    display            : block;
    content            : " ";
    // background      : url("/assets/svg/9.svg");
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: left top;
    width              : 30%;
    height             : 70%;
    position           : absolute;
    top                : -30px;
    left               : 28%;
    z-index            : 20;

    animation-name           : homeAstro;
    animation-timing-function: linear;
    animation-fill-mode      : both;
    animation-iteration-count: infinite;
    animation-duration       : 3s;
    animation-delay          : 0;

    svg,
    img {
      height   : 100%;
      // filter: drop-shadow( 0 0 10px #DBBB82);
    }
  }

  .half-moon {
    // background-image: url("/assets/svg/6.svg");
    width              : 30%;
    height             : 60%;
    top                : 0;
    left               : 0;
    overflow           : hidden;

    img {
      height   : 100%;
      width    : auto;
      margin   : 0 auto 0 0;
      // filter: drop-shadow( 0 3px  10px #DBBB82);
    }
  }

  .small-moon {
    //   background-image: url("/assets/svg/7.svg");
    width                : 10%;
    height               : 10%;
    bottom               : 30%;
    left                 : 10%;
  }

  .extra-small-moon {
    //  background-image: url("/assets/svg/8.svg");
    width               : 5%;
    height              : 5%;
    top                 : 25%;
    left                : 60%;
  }

  .text-logo {
    // background-image: url("/assets/svg/10.svg");

    width : 30%;
    height: 20%;
    top   : 35%;
    left  : 50%;
  }

  .start {
    position  : absolute;
    bottom    : 100px;
    right     : 60px;
    width     : 100%;
    text-align: right;
    box-sizing: border-box;
    padding   : 30px;

    a {
      width        : 160px;
      display      : block;
      box-shadow   : 0 0 10px #453E5D;
      border-radius: 50px;
      margin-top: 15px;

    }

    .title {
      color        : #333;
      font-weight  : 900;
    }
  }
}

@media (max-width: 700px) {
  #home-astro {
    height: 80vh;

    background-size    : cover;
    background-position: right bottom;
    background-repeat  : no-repeat;

    .bg {
      overflow: hidden;

      svg {
        width     : 200%;
        height    : auto;
        max-width : unset;
        max-height: unset;
      }
    }

    .text-logo {
      width : 40%;
      height: 30%;
      top   : 50%;
      left  : 55%;
    }

    .start {
      padding: 15px;

      .title {}
    }

    .extra-small-moon {
      top : 45%;
      left: 70%;
    }

    .half-moon {
      width: 40%;
    }

    &:after {
      width : 40%;
      height: 80%;
      top   : 0;
      left  : 25%;
    }
  }
}