@import "./home-crm.less";
@import "./home-astro.less";
@import "./home-advantages.less";
@import "./home-technologies.less";
@import "./home-doubleblock.less";



section.solar {
    img {
        max-width      : 860px;
        margin         : 0 auto;
        image-rendering: optimizeQuality;
    }
}


section.categories {

    padding   : 0 0;
    margin-top: 30px;

    .box {
        width     : 33.3333%;
        float     : right;
        box-sizing: border-box;
        padding   : 10px;


        &.en {
            ul li a {
                img {
                    margin-right: 5px;
                    margin-left : 0;
                }

                .text {
                    float: right;
                }
            }

        }
    }

    ul {
        li {
            line-height: 40px;
            margin     : 15px 0;
            color      : #D8D5CE;

            //   border-bottom   : 1px solid #000;
            &.more {
                text-align: center;

                a {
                    background : none;
                    border     : none;
                    line-height: 30px;
                    margin     : 0;
                    padding    : 0;
                    color      : #DBE8FF;
                }

            }

            a {
                color             : #E3E0DB;
                text-decoration   : none;
                display           : block;
                padding           : 10px;
                min-width         : 260px;
                border-radius     : 10px;
                // box-shadow     : 0 0 15px #bbb;
                background        : #222;
                border            : 1px solid #222;

                .badge {
                    float      : left;
                    direction  : ltr;
                    font-family: monospace;
                    font-size  : 11px;
                }

                .text {
                    float: left;
                    width: calc(100% - 45px);

                    .title {
                        color      : #fff;
                        line-height: 30px;

                    }

                    p {
                        color     : #fff;
                        text-align: start;
                    }
                }

                img {
                    margin-left   : 5px;
                    width         : 40px;
                    display       : inline-block;
                    vertical-align: top;

                    // border-left   : 1px solid #ccc;
                    // border-left   : 1px solid #ccc;
                }
            }
        }
    }







}



@media (max-width: 1024px) {


    section.categories {


        .box {
            width: 50%;
        }
    }

}



@media (max-width: 768px) {


    section.categories {


        .box {
            width: 100%;
        }
    }

}