.cookie {
  position  : fixed;
  bottom    : 0;
  left      : calc(50% - 600px);
  max-width : 1200px;
  width     : 100%;
  box-sizing: border-box;
  background: #75613D;
  padding   : 5px 10px;

  &.stick {
    position: absolute;
    top     : 0;
    left    : 0;


    bottom: unset;
    left  : unset;

  }

  p {
    display       : inline-block;
    width         : calc(100% - 280px);
    line-height   : 30px;
    color         : #fff;
    font-size     : @size2;
    padding       : 0;
    vertical-align: middle;

  }



  a {
    margin-left: 15px;
    height     : auto;
    display    : inline-block;

    color         : #fff;
    width         : 90px;
    vertical-align: middle;

  }

}

footer#footer {
  position  : relative;
  margin    : 0 auto;
  padding   : 60px 0 10px 0;
  box-sizing: border-box;
  background: #a29597;
  max-width : 1200px;
  box-shadow: 0 10px 15px #7F6D70 inset;


  .subtitle {
    color: #fff;
  }

  p {
    color: #eee;
  }

  .copyleft {
    text-align : center;
    direction  : ltr;
    margin     : 0 auto;
    padding-top: 10px;
    border-top : 1px solid #776884;
    max-width  : 400px;
    font-size  : @size1;

    color         : #e3e0db;
    letter-spacing: 4px;

    p {
      text-align: center;
    }

    a {
      color          : #e3e0db;
      border-bottom  : 1px solid #ddd;
      text-decoration: none;
      vertical-align : top;
      display        : inline-block;
    }

    .flip {
      vertical-align: top;
      transform     : rotateY(180deg);
      display       : inline-block;
      margin        : 0 5px;
    }
  }

  .blocks {
    float            : left;
    vertical-align   : top;
    max-width        : 360px;
    // border-right  : 4px solid rgba(255, 255, 255, 0.05);
    padding-right    : 30px;
    box-sizing       : border-box;
    padding          : 30px;
    padding-bottom: 0;

    &:after {
      clear  : both;
      display: block;
      content: " ";
    }

    .block {
      margin-bottom: 30px;

      &:after {
        clear  : both;
        display: block;
        content: " ";
      }

      .subtitle {
        margin-bottom: 5px;
      }

      p {
        padding: 5px 0;
      }

      input {
        border       : none;
        display      : block;
        margin       : 10px 0;
        padding      : 5px 10px;
        width        : 100%;
        background   : #fff;
        border-radius: 5px;
        border       : 1px solid #5D4D30;
      }

      a.btn,
      button {
        float        : left;
        display      : block;
        margin       : 5px 0;
        padding      : 0;
        line-height  : 20px;
        color        : #000;
        background   : none;
        font-weight  : 500;
        font-size    : @size4;
        border       : none;
        outline      : none;
        cursor       : pointer;
        width        : 160px;
        border       : none;
        height       : auto;
        box-shadow   : 1px 1px 5px #453E5D;
        border-radius: 20px;
        overflow     : hidden;


        img {
          width : 100%;
          height: auto;
        }
      }
    }
  }

  .links {
    vertical-align: top;
    width         : calc(~"100% - 360px");

    float     : right;
    padding   : 30px;
    box-sizing: border-box;

    ul {
      li {
        padding    : 0;
        line-height: 18px;
        margin     : 10px 0;

        a {
          text-decoration: none;
          color          : #fff;

          font-size: @size4;

          &:hover {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  .socials {
    margin    : 0;
    text-align: center;

    a {
      display: inline-block;
      width  : 30px;
      height : 30px;
      margin : 5px 10px;
    }
  }
}

@media (max-width: 700px) {
  footer#footer {
    .blocks {
      border-right: none;
      margin      : 0;
      padding     : 0 15px;
      float       : none;
      max-width   : 100%;
    }

    .links {
      border-top : 4px solid rgba(255, 255, 255, 0.05);
      margin     : 0;
      padding    : 0 15px;
      padding-top: 25px;
      width      : 100%;
    }
  }
}