img,
svg {
  max-height: 100%;
  max-width : 100%;
  box-sizing: border-box;
  display   : block;
  width     : 100%;
  height    : auto;
}

* {
  user-select      : none;
  -webkit-user-drag: none;
  -khtml-user-drag : none;
  -moz-user-drag   : none;
  -o-user-drag     : none;
  user-drag        : none;
}

p {
  user-select: text;
}

div,
img,
input,
textarea,
button {
  box-sizing : border-box;
  user-select: none;
}

body,
input,
textarea,
button {
  font-family: iranyekan;
  color      : #777;
}

body {
  font-size : 13px;
  overflow  : hidden;
  overflow-x: hidden;
  direction : rtl;

}

body.scroll {
  overflow-y: auto;
}

.en {
  font-family: sans-serif;
}

div.en {
  direction : ltr;
  text-align: left;
}

.inner-body {
  margin    : 0 auto;
  box-shadow: 0 0 45px #bbb;
  overflow-x: hidden;
  max-width : 1200px;
  box-sizing: border-box;
}

.clear,
.clearfix {
  clear  : both;
  display: block;
  content: " ";
}

.container {
  box-sizing: border-box;
  max-width : 1200px;
  padding   : 0 15px;
  margin    : 0 auto;
}

body::-webkit-scrollbar {
  width     : 12px;
  background: #fce9ca;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #ccbda4;
}

body.nav-active {
  overflow: hidden;
}

.title {
  font-size  : @size7;
  font-weight: bold;
  color      : #111;
}

.subtitle {
  font-size  : @size6;
  font-weight: bold;
  line-height: 30px;
  color      : #222;
}

p {
  font-size  : @size5;
  line-height: 24px;
  color      : #333;
  text-align : start;
}

pre {
  font-family  : monospace;
  direction    : ltr;
  background   : #eee;
  padding      : 10px;
  margin       : 10px;
  border-radius: 10px;
  font-size    : 11px;
  line-height  : 14px;
  overflow     : hidden;
}

.flip-v {
  transform: rotate(180deg);
}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.button {
  margin: 10px 0;

  display: inline-block;

  line-height    : 28px;
  padding        : 3px 40px 3px 10px;
  text-decoration: none;
  outline        : none;
  cursor         : pointer;
  border-radius  : 20px;
  position       : relative;
  font-weight    : 500;
  color          : #333;
  font-size      : @size2;
  box-shadow     : -2px 2px 5px rgba(0, 0, 0, 0.3);

  &.in-array {
    margin-left: 10px;
  }

  .icon {
    content      : " ";
    width        : 24px;
    height       : 24px;
    margin       : 0 5px;
    border-radius: 100%;
    display      : block;
    position     : absolute;
    right        : 1px;
    top          : 6px;
    box-sizing   : border-box;

    border: 1px solid #000;
  }

  &:after {
    content   : " ";
    display   : block;
    position  : absolute;
    right     : 34px;
    top       : 6px;
    height    : 24px;
    width     : 1px;
    background: #777;
  }

  &.primary {
    background: #576e9e;
    color     : #fff;

    .icon {
      border-color: #fff;
    }

    &:after {
      background: #fff;
    }

    &.alternate {
      border    : 1px solid #576e9e;
      background: none;
      color     : #576e9e;
      box-shadow: none;

      .icon {
        border-color: #576e9e;

        img {
          filter: invert(1);
        }
      }

      &:after {
        background: #576e9e;
      }
    }


  }

  &.secondary {
    background: #af926e;
    color     : #fff;

    .icon {
      border-color: #fff;
    }

    &:after {
      background: #fff;
    }

    &.alternate {
      border    : 1px solid #af926e;
      background: none;
      color     : #af926e;
      box-shadow: none;

      .icon {
        border-color: #af926e;

        img {
          filter: invert(1);
        }
      }

      &:after {
        background: #af926e;
      }
    }


  }

  &.secondary {}
}

@media (max-width: 700px) {
  .inner-body {
    margin: 0 15px;
  }
}