<header data-aos="fade-bottom" >


    <div class="account">
        {{> svg-2}}
        <span>ورود</span>
    </div>

    <div class="search">

        <input type="text" dir="rtl" placeholder="جست و جو" id="search-text" id="">
        {{> svg-3}}

    </div>


    <a href="/" title="Serendip Agency" class="logo">
        {{> svg-1}}
    </a>


</header>