 

<header data-aos="fade-bottom">

    <div class="inner">

        <a class="account" href="/account" title="ورود به داشبورد serendip.cloud">
            {{> svg-2}}

            {{#unless data.req.user}}
            <span>ورود</span>
            {{/unless}}

            {{#if data.req.user}}
            <span>حساب</span>
            {{/if}}
        </a>

        <div class="search" title="جست و جو در سایت">

            <input type="text" dir="rtl" placeholder="جست و جو" id="search-text" id="">
            {{> svg-3}}

        </div>


        <a href="/" title="Serendip Agency" class="logo">
            {{> svg-logo-logo-tagline-5}}
        </a>

    </div>
</header>