

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Serendip</title>
<meta name="theme-color" content="#564D72">
<link href="/assets/less/dist/loader.css" rel="stylesheet">
<link href="/assets/less/dist/web.css" rel="stylesheet">
<base href="/">