<header data-aos="fade-bottom">

    <div class="inner">

        <div class="search" title="جست و جو در سایت">

            <input type="text" dir="rtl" placeholder="جست و جو" id="search-text" id="">
            {{> svg-3}}

        </div>


        <a href="/" title="Serendip Agency" class="logo">
            {{> svg-logo-logo-fa-2}}
        </a>

        <div class="scroll-line">

        </div>
    </div>
</header>