<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>آژانس سرندیپ | ارائه دهنده نرم‌افزار و سرویس‌های تحت وب برای مدیریت و مارکتینگ کسب‌وکارها</title>
<meta name="theme-color" content="#576E9E">




<link href="/assets/less/dist/bundle.css?v={{data.env.commit}}" rel="stylesheet">


<link href="/assets/favicon.png" rel="icon" type="image/png">
<base href="/">