<header data-aos="fade-bottom" data-aos-delay="500">


    <div class="account">
        <img src="/assets/svg/2.svg" />
        <span>ورود</span>
    </div>

    <div class="search">

        <input type="text" dir="rtl" placeholder="جست و جو" id="search-text" id="">
        <img src="/assets/svg/3.svg" />

    </div>


    <a href="/" class="logo">
        Serendip Agency
    </a>


</header>