<div id="home-advantages">
    <div class="title" data-aos-duration="500" data-aos="fade-in">

        {{ data.home.crmAdvantages.title}}

    </div>

    <div class="blocks" data-aos-duration="500" data-aos="fade-in">


        {{#each data.home.crmAdvantages.items}}
        <div class="block">
            <div class="icon">

                {{> (append 'svg-' icon )}}
            </div>
            <p class="text-center">
                {{unsafe subtitle}}
            </p>
        </div>

        {{/each}}

    </div>
</div>