<div id="home-astro" class="astro" data-aos-duration="1000" data-aos="fade-in">

    {{!-- <img src="/assets/svg/11.svg" class="bg"> --}}
    <div class="bg">
        {{> svg-15-2}}
    </div>

    <div class="human">

        {{> svg-9}}
    </div>

    <div class="half-moon">
        {{> svg-6}}
    </div>
    <div class="small-moon">
        {{> svg-7}}

    </div>
    <div class="extra-small-moon">
        {{> svg-8}}

    </div>
    <div class="text-logo" data-aos-duration="700" data-aos="fade-in">

        {{> svg-10}}


    </div>
    <div class="start">
        <div class="subtitle">
            در کم‌تر از یک دقیقه شروع کنید
        </div>

        <a href="/pages/pricing" class="">
            {{> svg-button-free-membership}}
        </a>
    </div>
</div>