<div id="home-technologies">

    {{!-- <img src="/assets/svg/53.svg" alt="" class="bg"> --}}
    <div class="bg">
        {{> svg-53}}

    </div>
    <div class="subtitle">
        ما تنها از فناوری‌های پیشرفته استفاده می‌کنیم
    </div>
    {{!-- <img src="/assets/svg/52.svg" alt="" class="front"> --}}

    <div class="front">
        {{> svg-52}}
    </div>
</div>