<div id="home-advantages">
    <div class="subtitle" data-aos-duration="500" data-aos="fade-in" data-aos-delay="500">
        تمایزات کلیدی نرم‌افزار سی آر ام سرندیپ
    </div>

    <div class="blocks" data-aos-duration="500" data-aos="fade-in" data-aos-delay="500">

        <div class="block">
            <div class="icon">
                <img src="/assets/svg/40.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/41.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/42.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/43.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/44.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/45.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/46.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/47.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/48.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/49.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/50.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>
        <div class="block">
            <div class="icon">
                <img src="/assets/svg/51.svg" alt="">
            </div>
            <h2>
            </h2>
        </div>



    </div>
</div>