<div id="home-crm">

    {{#if data.home.crmKeyPoints.visible}}

    <h1 class="title" data-aos-duration="1000" data-aos="fade-in" >
        {{ data.home.crmKeyPoints.title}}
    </h1>

    <div class="blocks" data-aos-duration="1000" data-aos="fade-in" >
        {{#each data.home.crmKeyPoints.blocks}}

        <div class="block">
            <div class="icon">
                {{> (append 'svg-' icon)}}
            </div>
            <h2 class="subtitle">
                {{unsafe subtitle}}
            </h2>
            <p>
                {{unsafe p}}
            </p>
        </div>

        {{/each}}

    </div>
    {{/if}}

    {{#if data.home.crmKeyPoints.banner.visible}}

    <div class="banner" data-aos-duration="1000" data-aos="fade-in" >
        {{> (append 'svg-' data.home.crmKeyPoints.banner.number)}}


    </div>

    {{/if}}

</div>