<div id="loader">

    <div class="box">
        <div class="logo-loader">
            <div class="loader"></div>

            <div class="logo">
                {{> svg-loader-logo}}
            </div>

        </div>

    </div>


    <div class="bg">
        {{> svg-loader-star-back}}
    </div>


</div>