<button id="nav-toggle">

</button>
<nav id="nav" class="active" data-aos="fade-left" data-aos-delay="500">



    <div class="close">
        
    </div>


    <ul>
        <li>
            <a href="/home">

                <div class="icon">
                    <img src="/assets/svg/menu/about-1.svg" alt="">
                </div>
                درباره سرندیپ
            </a>
        </li>
        <li>
            <a href="/pricing">
                <div class="icon">
                    <img src="/assets/svg/menu/pricing.svg" alt="">
                </div>

                تعرفه&zwnj;ها
            </a>
        </li>
        <li>
            <a href="/features">
                <div class="icon">
                    <img src="/assets/svg/menu/features.svg" alt="">
                </div>
                ویژگی&zwnj;ها
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    <img src="/assets/svg/menu/user-1.svg" alt="">
                </div>
                ثبت &zwnj;نام
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    <img src="/assets/svg/menu/free-crm.svg" alt="">
                </div>
                سی آر ام رایگان
                <span class="en">
                    (Free CRM)
                </span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    <img src="/assets/svg/menu/cloud-crm.svg" alt="">
                </div>
                سرندیپ کلاد
                <span class="en">
                    (Cloud)
                </span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    <img src="/assets/svg/menu/solutions.svg" alt="">
                </div>
                سرندیپ لوکال
                <span class="en">
                    (LAN)
                </span>
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    <img src="/assets/svg/menu/solutions.svg" alt="">
                </div>
                راهکارهای سرندیپ

            </a>
        </li>

        <li>
            <a href="/tos">
                <div class="icon">
                    <img src="/assets/svg/menu/pwa.svg" alt="">
                </div>
                وب‌اپلیکشن‌های پیش‌رونده

                <span class="en">
                    (PWA)
                </span>

            </a>
        </li>


        <li>
            <a href="">
                <div class="icon">
                    <img src="/assets/svg/menu/blog.svg" alt="">
                </div>
                بلاگ
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    <img src="/assets/svg/menu/faq.svg" alt="">
                </div>
                سوالات متداول
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    <img src="/assets/svg/menu/contact.svg" alt="">
                </div>
                تماس با ما
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    <img src="/assets/svg/menu/newsletter.svg" alt="">
                </div>
                عضویت در خبرنامه
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    <img src="/assets/svg/menu/agreement-1.svg" alt="">
                </div>
                توافق‌نامه کاربری
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    <img src="/assets/svg/menu/catalog.svg" alt="">
                </div>
                بروشور محصول
            </a>
        </li>

    </ul>
</nav>