<div id="nav-toggle" data-aos-duration="700" data-aos="fade-in" data-aos-delay="1000">
{{> svg-5}}
</div>
<nav id="nav">

    <div class="close">

    </div>


    <ul>
        <li>
            <a href="/pages/about">

                <div class="icon">

                    {{> svg-menu-about-1}}
                </div>
                درباره سرندیپ
            </a>
        </li>
        <li>
            <a href="/pricing">
                <div class="icon">
                    {{> svg-menu-pricing}}

                </div>

                تعرفه&zwnj;ها
            </a>
        </li>
        <li>
            <a href="/features">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/features.svg" alt=""> --}}
                    {{> svg-menu-features}}

                </div>
                ویژگی&zwnj;ها
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/user-1.svg" alt=""> --}}
                    {{> svg-menu-user-1}}

                </div>
                ثبت &zwnj;نام
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/free-crm.svg" alt=""> --}}
                    {{> svg-menu-free-crm}}

                </div>
                سی آر ام رایگان
                <span class="en">
                    (Free CRM)
                </span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/cloud-crm.svg" alt=""> --}}
                    {{> svg-menu-cloud-crm}}

                </div>
                سرندیپ کلاد
                <span class="en">
                    (Cloud)
                </span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/solutions.svg" alt=""> --}}
                    {{> svg-menu-solutions}}

                </div>
                سرندیپ لوکال
                <span class="en">
                    (LAN)
                </span>
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/solutions.svg" alt=""> --}}
                    {{> svg-menu-solutions}}

                </div>
                راهکارهای سرندیپ

            </a>
        </li>

        <li>
            <a href="/tos">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/pwa.svg" alt=""> --}}
                    {{> svg-menu-pwa}}

                </div>
                وب‌اپلیکشن‌های پیش‌رونده

                <span class="en">
                    (PWA)
                </span>

            </a>
        </li>


        <li>
            <a href="">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/blog.svg" alt=""> --}}
                    {{> svg-menu-blog}}

                </div>
                بلاگ
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/faq.svg" alt=""> --}}
                    {{> svg-menu-faq}}

                </div>
                سوالات متداول
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/contact.svg" alt=""> --}}
                    {{> svg-menu-contact}}

                </div>
                تماس با ما
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/newsletter.svg" alt=""> --}}
                    {{> svg-menu-newsletter}}

                </div>
                عضویت در خبرنامه
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/agreement-1.svg" alt=""> --}}
                    {{> svg-menu-agreement-1}}

                </div>
                توافق‌نامه کاربری
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/catalog.svg" alt=""> --}}
                    {{> svg-menu-catalog}}

                </div>
                بروشور محصول
            </a>
        </li>

    </ul>
</nav>