<nav id="nav" data-aos="fade-left" data-aos-delay="500">
    <ul>
       
        <li>
            <a href="/home">

                <div class="icon">
                </div>

                    معرفی  

            </a>
        </li>
        <li>
            <a href="/pricing">
                <div class="icon">
                </div>

                تعرفه&zwnj;ها
            </a>
        </li>



        <li>
            <a href="/features">
                <div class="icon">
                </div>
                ویژگی&zwnj;ها
            </a>
        </li>

        <li>
            <a href="">
                <div class="icon">
                </div>
                ثبت &zwnj;نام
            </a>
        </li>


        <li>
            <a href="">
                <div class="icon">
                </div>
                بلاگ
            </a>
        </li>

        <li>
            <a href="">
                <div class="icon">
                </div>
                ناحیه کاربری
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                </div>
                سرندیپ کلاد
           
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                </div>
                سرندیپ لوکال
            
            </a>
        </li>

        <li>
            <a href="/tos">
                <div class="icon">
                </div>
                توافق&zwnj;نامه
            </a>
        </li>


        <li>
            <a href="">
                <div class="icon">
                </div>
                سوالات متداول
            </a>
        </li>

         
        <li>
            <a href="">

                <div class="icon">
                </div>
                بروشور محصول
            </a>
        </li>

    </ul>
</nav>