<div id="nav-toggle" title="نمایش منو" data-aos-duration="700" data-aos="fade-in">
    <div class="bg"> {{> svg-menu-globe-4}}</div>
    <div class="ufo-1">
        {{> svg-ufo-12}}
    </div>
    <div class="ufo-2">
        {{> svg-ufo-12}}
    </div>
</div>
<nav id="nav">

    <div class="close">

    </div>


    <ul>
        <li>
            <a href="/pages/about">

                <div class="icon">

                    {{> svg-menu-about-1}}
                </div>
                درباره سرندیپ
            </a>
        </li>
        <li>
            <a href="/pages/pricing">
                <div class="icon">
                    {{> svg-menu-pricing}}

                </div>

                تعرفه&zwnj;ها
            </a>
        </li>
        <li>
            <a href="/pages/features">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/features.svg" alt=""> --}}
                    {{> svg-menu-features}}

                </div>
                ویژگی&zwnj;ها
            </a>
        </li>

        <li>
            <a href="/pages/free-crm">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/free-crm.svg" alt=""> --}}
                    {{> svg-menu-free-crm}}

                </div>
                سی آر ام رایگان
                <span class="en">
                    (Free CRM)
                </span>
            </a>
        </li>
        <li>
            <a href="/pages/cloud">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/cloud-crm.svg" alt=""> --}}
                    {{> svg-menu-cloud-crm}}

                </div>
                سرندیپ کلاد
                <span class="en">
                    (Cloud)
                </span>
            </a>
        </li>
        <li>
            <a href="/pages/lan">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/solutions.svg" alt=""> --}}
                    {{> svg-menu-lan-crm }}

                </div>
                سرندیپ لوکال
                <span class="en">
                    (LAN)
                </span>
            </a>
        </li>
        <li>
            <a href="/pages/solutions">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/solutions.svg" alt=""> --}}
                    {{> svg-menu-solutions}}

                </div>
                راهکارهای سرندیپ

            </a>
        </li>

        <li>
            <a href="/pages/pwa">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/pwa.svg" alt=""> --}}
                    {{> svg-menu-pwa}}

                </div>
                وب‌اپلیکشن‌های پیش‌رونده

                <span class="en">
                    (PWA)
                </span>

            </a>
        </li>


        <li>
            <a href="/blog">
                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/blog.svg" alt=""> --}}
                    {{> svg-menu-blog}}

                </div>
                بلاگ
            </a>
        </li>

        <li>
            <a href="/pages/faq">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/faq.svg" alt=""> --}}
                    {{> svg-menu-faq}}

                </div>
                سوالات متداول
            </a>
        </li>

        <li>
            <a href="/pages/contact">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/contact.svg" alt=""> --}}
                    {{> svg-menu-contact}}

                </div>
                تماس با ما
            </a>
        </li>
        <li>
            <a href="/pages/newsletter">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/newsletter.svg" alt=""> --}}
                    {{> svg-menu-newsletter}}

                </div>
                عضویت در خبرنامه
            </a>
        </li>
        <li>
            <a href="/pages/tos">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/agreement-1.svg" alt=""> --}}
                    {{> svg-menu-agreement-1}}

                </div>
                توافق‌نامه کاربری
            </a>
        </li>
        <li>
            <a href="/serendip-presentation.pdf">

                <div class="icon">
                    {{!-- <img src="/assets/svg/menu/catalog.svg" alt=""> --}}
                    {{> svg-menu-catalog}}

                </div>
                پرزنتیشن
            </a>
        </li>

    </ul>
</nav>