<!DOCTYPE html>
<html lang="en">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">

        <div id="account-page">
            <div class="box">
                <pre>
            {{~  syntaxHighlight data.req}}
</pre>

            </div>
        </div>
        {{> svg-about-about-7}}

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>