<div class="buttons">

    <a href="/account/logout" class="button secondary alternate pull-left">
        <div class="icon ">
            {{> svg-button-icons-sign-up-small-5}}
        </div>
        خروج
    </a>

    <a href="https://serendip.cloud" class="button primary alternate pull-right">
        <div class="icon flip-v">
            {{> svg-button-icons-sign-up-small-5}}
        </div>
        ورود به داشبورد <span class="en">PWA</span>
    </a>

    <div class="clear"></div>
</div>