<ul class="tabs">

    <li>
        <a href="/account">
            آمار کلی
        </a>
    </li>

    <li>
        <a href="">
            فاکتور‌ها
        </a>
    </li>

    <li>
        <a href="">
            پشتیبانی
        </a>
    </li>

    <li>
        <a href="">خدمات</a>
    </li>

    <li>
        <a href="">پیامک</a>
    </li>

    <li>
        <a href="">فکس</a>
    </li>


    <li>
        <a href="">ایمیل</a>
    </li>

    <li>
        <a href="">فضای ذخیره‌سازی</a>
    </li>

    <li>
        <a href=""> دسترسی به <span class="en">API</span>
        </a>

    </li>

    <li>
        <a href="">
            تغییر رمز
        </a>
    </li>


    <li>
        <a href="">

            تغییر موبایل
        </a>
    </li>

    <li>
        <a href="">
            تغییر ایمیل
        </a>
    </li>

    <li>
        <a href="">
            احراز هویت دوفاکتوره
        </a>
    </li>



    <li>
        <a href="">
            دریافت خروجی اطلاعات
        </a>
    </li>

    <li>
        پاک کردن حساب
    </li>
</ul>