@import "variables.less";
img {
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

* {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

p {
    user-select: text;
}

div,
img,
div,
input,
textarea,
button {
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: iranyekan;
    color: #777;
}

body {
    font-size: 13px;
    overflow: hidden;
    overflow-x: hidden;
    direction: rtl;
}

body.scroll {
    overflow-y: auto;
}

.en {
    font-family: sans-serif;
}

.inner-body {}

.clear,
.clearfix {
    clear: both;
    display: block;
    content: " ";
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 8px;
    background: #F3E0C2;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #564D72;
    border-radius: 50%;
}

body.nav-active {
    overflow: hidden;
}

.title {
    font-size: @size8;
    font-weight: bold;
}

.subtitle {
    font-size: @size6;
    font-weight: bold;
    line-height: 1.25;
}

p {
    font-size: @size3;
    line-height: 1.55;
}

@media(max-width:700px) {
    .title {
        font-size: @size8;
    }
    .subtitle {
        font-size: @size6;
    }
    p {
        font-size: @size3;
    }
}