img{

    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

div{
    height: 100%;
}

div,img,div,input,textarea,button{
    box-sizing: border-box;
 
    
}


body,input,textarea,button{

    font-family: iranyekan;

    color:#777;
    
}


.en{
    font-family: sans-serif;
}
.inner-body{
    padding-right:60px;
}
.clear,.clearfix{

    clear: both;
    display: block;
    content: ' ';

}
.container{

    box-sizing:border-box;
    max-width:1200px;

    padding:0 30px;
    margin: 0 auto;

}