@keyframes closeBefore {
  0% {
    top: 30px;
  }
  30% {
    top: 25px;
    transform: rotate(-5deg);
    height: 6px;
    width: 45%;
  }

  60% {
    top: 35px;
    transform: rotate(10deg);
    height: 6px;
    width: 45%;
  }

  70% {
    top: 45px;
    transform: rotate(10deg);
  }
  100% {
    top: 30px;
  }
}

@keyframes closeAfter {
  0% {
    top: 50px;
  }
  30% {
    top: 45px;
    transform: rotate(5deg);
    height: 6px;
  }

  40% {
    top: 35px;
    transform: rotate(-5deg);
  }
  50% {
    top: 40px;
    transform: rotate(-7deg);
    height: 6px;
  }
  60% {
    top: 55px;
    transform: rotate(-5deg);
    width: 55%;
  }
  80% {
    top: 35px;
    transform: rotate(-5deg);
  }
  100% {
    top: 50px;
  }
}

div#nav-toggle {
  cursor: pointer;
  position: fixed;

  background: #eed5ab url(/assets/svg/5.svg);
  border-radius: 60% 0 60% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 101;

  width: 100px;
  height: 100px;
  top: 75px;
  right: -10px;
  content: " ";
  display: block;
  border: none;
  outline: none;


  &:after,
  &:before {
    display: block;
    height: 8px;
    position: absolute;
    left: 25%;
    width: 50%;
    background: #dbbb82;
    border-radius: 100%;
    content: " ";
    transform-origin: center center;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
    box-shadow: 0 0 3px #fff;
  }

  &:before {
    top: 30px;
  }
  &:after {
    top: 50px;
  }

  &:hover:before,
  &:active:before {
    animation-name: closeBefore;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 1.1s;
    animation-delay: 0;
    background: #d5c19e;
  }
  &:hover:after,
  &:active:after {
    animation-name: closeAfter;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

    animation-delay: 0;
    animation-duration: 2.3s;
  }

  &.active:after {
    transform: rotate(-45deg);
    top: calc(~"50% - 10px");
    animation: none;
  }
  &.active:before {
    transform: rotate(45deg);
    top: calc(~"50% - 10px");
    animation: none;
  }
}
nav#nav {
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  opacity: 0;
  transition: opacity linear .7s;
  &.fadeIn {
    opacity: 1;
    &:before {
      top: 0;
      right: -90vw;
    }
  }
  &.active {
    display: block;
  }
  &:before {
    display: block;

    content: " ";

    position: absolute;
    top: -100vw;
    right: -100vw;
    height: 140vw;
    width: 140vw;
    background: rgba(87, 110, 158, 0.75);
    background: rgba(219, 186, 130, 0.85);
    background: #f3e0c2;
    border-radius: 0% 0 0 90%;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.15);
    z-index: 0;
    transition: all linear 0.5s;
  }

  ul {
    position: absolute;
    top: 120px;
    right: 75px;

    height: 75vh;
    z-index: 3;
    direction: ltr;
    width: 260px;
    padding: 0 15px 0 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 2px solid transparent;

    &:hover {
      overflow-y: scroll;
      border-right: none;
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
    }

    li {
      display: block;
      width: 100%;
      margin: 0 0 5px 0;
      position: relative;
      direction: rtl;
      text-align: right;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:first-child a:after,
      &:first-child a:before {
        display: none !important;
      }

      a {
        font-size: @size3;

        display: inline-block;
        text-decoration: none;

        color: #fff;
        color: #333;
        // text-shadow: -1px 1px 0px rgba(255, 255, 255, 0.5);
        height: 44px;
        line-height: 44px;
        font-weight: 300;
        position: relative;
        &:after,
        &:before {
          position: absolute;
          width: 100%;
          height: 1px;
          display: block;
          content: " ";
          right: 0;
        }

        &:after {
          background-image: linear-gradient(
            to left,
            rgba(69, 62, 93, 0.5),
            rgba(74, 69, 143, 0.05)
          );
          top: 0px;
        }
        &:before {
          background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.1)
          );
          top: 1px;
        }
        .icon {
          width: 30px;
          height: 30px;
          display: inline-block;
          box-shadow: -2px 2px 0px rgba(255, 255, 255, 0.5);
          box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.15);
          box-sizing: border-box;
          margin-left: 5px;
          line-height: 0;
          border-radius: 100%;
          vertical-align: middle;
 
        }
      }
    }
  }
}

@media (max-width: 900px) {
  nav#nav {
    &.fadeIn {
      &:before {
        top: 0;
        right: -10vw;
      }
    }
  }
}

@media (max-width: 700px) {
  div#nav-toggle {
    transform: scale(0.6);
    top: 55px;
    transform-origin: top right;
  }
  nav#nav {
    ul {
      top: 80px;
      right: 40px;
      padding-top: 30px;
      height: calc(~"100% - 80px");
      overflow-y: scroll;
      li {
        a {
          font-size: @size3;
        }
      }
    }
    &.fadeIn {
      &:before {
        width: 140vw;
        height: 140vh;
        top: 0;
        right: 0;
      }
    }
  }
}
