#newsletter {
  background: #4A458F url(/assets/svg/88.svg);
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  padding: 60px 0;

  form {
    float: left;
    color:#fff;


    .input-submit{
    

        input,button{
            margin: 0;
            height:30px;
            border:none;
            box-sizing: border-box;

        }
        input{
            width:calc(~"100% - 80px");
            float: right;
            background: #fff;
            padding:0 10px;
        }
        button{
            float: left;
            width:80px;
            background: #576E9E;
            color:#fff;
            font-weight: bold;


        }

    }
    p{
        padding:10px 0;
        max-width: 360px;
        box-sizing: border-box;
    }
    p.note{
        padding:10px;
    }
  
  }
}
