<!DOCTYPE html>
<html lang="en">

<head>

    {{> head}}

    <link rel="stylesheet" href="/assets/less/dist/home.css">
    <link rel="stylesheet" href="/assets/less/dist/about.css">
</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}

    <div class="inner-body">

        <div id="about-page">

            <div class="top-banner">
            <img src="/assets/svg/about/about-1.svg" alt="" />
            </div>
            <img src="/assets/svg/about/about-7.svg" alt="" />

        </div>

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>