<!DOCTYPE html>
<html lang="fa">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>