<!DOCTYPE html>
<html lang="fa">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">

        <div id="encryption-page">

            <div class="top-banner" data-aos-duration="500" data-aos="fade-in">
                {{> svg-encryption-encrypt-1}}
            </div>

            <div class="container">

                <section data-aos-duration="500" data-aos="fade-in">

                    <div class="subtitle">
                        رمزگذاری نقطه به نقطه سرندیپ

                        <div class="en">
                            (Serendip End-to-end encryption)
                        </div>
                    </div>

                    <p>
                        با کاربری خدمات و محصولات سرندیپ شما قادر خواهید بود تا داده‌های خود را در چهار مرحله شامل ثبت،
                        مدیریت، گزارش و تحلیل به شیوه‌های متنوع، با دستگاه‌ها یا پلتفرم‌های مختلف، به صورت آفلاین و
                        آنلاین و با استفاده از مدل رمزنگاری نقطه به نقطه (End-to-end encryption) مورد استفاده قرار دهید.
                        مدل رمزنگاری داده‌ها در سی آر ام و سایر محصولات و خدمات سرندیپ بر پایه استاندارد نظامی رمزگذاری
                        AES 256-bit و RSA 4096-bit استوار شده است تا به صورت حقیقی امنیت داده‌های شما را در بستر ابری
                        تامین ‌کند.
                    </p>

                    <p>

                        با استفاده از رمزگذاری داده‌های شما از طریق مدل مبدا تا مقصد و پیاده‌سازی استاندارد امنیتی
                        ذکر‌شده، اطلاعات حساس کسب و کار شما تنها در دستگاه خودتان رمزگشایی می‌شود و در این بین هیچ شخص
                        غیرمجاز، سازمان و حتی سرندیپ به عنوان تامین‌کننده خدمات مورد استفاده شما نیز امکان دسترسی به
                        داده‌های شما را نخواهد داشت. به این ترتیب هیچ فرد یا سازمانی قادر نخواهد بود تا به هر طریقی از
                        محتوای داده‌های شما اطلاع پیدا کند؛ چرا که کلید رمزگشایی اطلاعات شما تنها در اختیار خود شماست.
                    </p>
                    <div class="clearfix"></div>

                </section>


                <section data-aos-duration="500" data-aos="fade-in">

                    <div class="subtitle">
                        رمزگذاری نقطه به نقطه <span class="en">
                            (End-to-end encryption)
                        </span> چیست؟

                    </div>

                    <p>
                        رمزگذاری نقطه به نقطه، مبدا تا مقصد یا End-to-end encryption به گونه‌ای از ارتباط رمزنگاری‌شده
                        اطلاق می‌شود که تنها طرفین مجاز در آن قادر به خوانش داده‌های ارسالی و ذخیره‌شده هستند. در این
                        مدل رمزگذاری که با عنوان رمزنگاری کاربر به کاربر نیز شناخته می‌شود، تمامی داده‌های رد و بدل‌شده
                        بین طرفین نه تنها در مسیر ارتباطی بلکه از منبع تا مقصد دریافت پیام‌ها رمزگذاری می‌شوند و تنها
                        فرستنده و گیرنده داده‌ها اجازه دسترسی به کلید‌های رمزگشایی را دارند؛ چرا که کلید شخصی رمزگذاری
                        فقط در انتهای مسیر ارتباط، بر روی دستگاه مقصد و به صورت موقت ذخیره می‌شود.
                    </p>

                    <p>

                        به نقل از صفحه بلاگ وبسایت آی بی ام در 19 ژوئن سال 2012: «بیش‌تر تامین‌کنندگان نرم‌افزار در بستر
                        شبکه ابری (SaaS) که ادعای ارائه رمزگذاری را دارند، عموماً تنها مسیر انتقال داده‌ها را با استفاده
                        از پروتکول امنیتی لایه انتقال (SSL) رمزگذاری می‌کنند. با این وجود که این فناوری استاندارد
                        محافظتی مناسبی را در مسیر انتقال داده‌ها فراهم می‌کند، به امنیت داده‌هایی که در بستر ابر ذخیره
                        شده‌اند توجهی نشان نمی‌دهد».

                    </p>

                    <p>
                        همان‌طور که گفته شد، بر خلاف ادعای بسیاری از شرکت‌های نرم‌افزاری مبنی بر کاربرد مدل رمزگذاری
                        مبدا تا مقصد در ارائه خدماتشان، این تامین‌کنندگان تنها مسیر انتقال داده را رمزگذاری کرده و قادر
                        به پیاده‌سازی این مدل رمزنگاری به شکل یکپارچه و برای طرفین ارتباط نیستند. لازم به ذکر است که
                        شرکت‌ها و تامین‌کنندگان معدودی در سطح بین‌المللی توانسته‌اند تا پیاده‌سازی این مدل از رمزگذاری
                        بر روی محصولاتشان را به شکلی صحیح و قابل اثبات ارائه دهند؛ از این بین می‌توان به نام‌های
                        شناخته‌شده‌ای مانند تلگرام، سیگنال، فیسبوک، واتس‌اپ، مایکروسافت داینامیکس 365، سی آر ام سِلزفورس
                        و سی آر ام زوهو اشاره داشت.
                    </p>
                    <div class="clearfix"></div>

                </section>




            </div>


        </div>

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>