<!DOCTYPE html>
<html lang="fa">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">

        <div id="lan-page">

            <div class="top-banner" data-aos-duration="500" data-aos="fade-in">
                {{> svg-lan-lan-1}}
            </div>

            <div class="container">

                <section class="section-1" data-aos-duration="500" data-aos="fade-in">

                    <div class="subtitle">
                        سی آر ام لوکال سرندیپ
                        <span class="en">
                            (Serendip Local CRM)
                        </span>
                    </div>

                    <p>
                        به اجرا و کاربری یک نرم‌افزار در شبکه فیزیکی و داخلی محل کار شما راه‌اندازی محلی نرم‌افزار (LAN)
                        گفته می‌شود. سرندیپ امنیت و حراست از اطلاعات شما در نسخه‌های ابری را تضمین می‌نماید (ارجاع به
                        صفحه توافق‌نامه، محدوده مسئولیت)؛ با این حال اگر به دنبال آن هستید تا دسترسی به نرم‌افزار سی آر
                        ام خود را محدود کنید، از یک سرور داخلی برای ذخیره‌سازی داده‌ها استفاده نمایید و یا کاربرد نسخه
                        حرفه‌ای نرم‌افزار به علت تعدد بالای کاربران و هزینه‌های ماهانه با استفاده مداوم برایتان مقرون به
                        صرفه به نظر نمی‌رسد، نسخه شرکتی سی آر ام به همراه سرور باکس اختصاصی سرندیپ را امتحان کنید.
                    </p>


                    <a href="/pages/pricing" class="button in-array primary">
                        <div class="icon">
                            {{> svg-button-icons-pricing-5}}
                        </div>
                        تعرفه‌ها
                    </a>


                </section>


                <section data-aos-duration="500" data-aos="fade-in">

                    <div class="subtitle">
                        مزایای کاربری سی آر ام لوکال سرندیپ (SLC)
                    </div>
                    <p>
                        قابلیت اتصال دو عدد فلش درایو به سرور باکس سرندیپ جهت ذخیره‌سازی خودکار داده‌ها با فواصل زمانی
                        دلخواه، امکان دسترسی به نرم‌افزار در خارج از محل کارتان و بدون نیاز به آی پی ثابت (Static IP
                        Address)، عدم محدودیت در تعداد کاربران سی آر ام و قابلیت نمایش در لحظه رویدادها (Real-time
                        Monitoring) از طریق اتصال کابل اِچ دی اِم آی به سرور باکس، از دیگر مزایای خرید نسخه شرکتی
                        نرم‌افزار سی آر ام سرندیپ می‌باشد.
                    </p>

                    <p>
                        شما به آسانی قادر خواهید بود تا در هر زمان بانک اطلاعاتی و کلیه داده‌های ثبت‌شده در نسخه‌های
                        ابری سی آر ام خود را بدون هیچ‌گونه تغییر و صرف هزینه‌های بالا جهت ایجاد زیرساخت شبکه‌های محلی،
                        به سرور داخلی شرکت که همان سرور باکس سرندیپ شما خواهد بود، منتقل نمایید.
                    </p>

                    <div class="clearfix"></div>


                </section>



            </div>


        </div>

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>