<!DOCTYPE html>
<html lang="fa">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">


        <div class="pricing-page">

            {{> svg-pricing-pricing-1}}




            <div class="editions">

                <div class="title">
                    طرح‌هایی متناسب با کسب و کار شما
                </div>

                <div class="block">

                    <div class="bg">
                        {{> svg-pricing-pricing-98}}

                    </div>
                    <div class="title-icon">
                        {{> svg-pricing-pricing-73}}
                    </div>


                    <label for="">تک‌کاربره</label>
                    <ul>
                        <li>
                            ۱۰۰ پیامک رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۵۰۰ ایمیل رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۱۰ فکس رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۵۰۰ مگابایت
                            <small>
                                فضای ذخیره‌سازی
                            </small>
                        </li>



                    </ul>


                    <div class="price">
                        رایگان
                    </div>
                    <div class="buttons">
                        <a href="https://serendip.cloud" class="button primary">
                            <div class="icon">
                                {{> svg-button-icons-sign-up-small-5}}
                            </div>
                            ایجاد اشتراک

                        </a>
                    </div>
                </div>

                <div class="block">

                    <div class="bg">
                        {{> svg-pricing-pricing-96}}

                    </div>
                    <div class="title-icon">
                        {{> svg-pricing-pricing-76}}
                    </div>


                    <label for="">بیش از یک کاربر</label>
                    <ul>
                        <li>
                            ۱،۰۰۰ پیامک رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۲،۰۰۰ ایمیل رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۱۰۰ فکس رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۱ گیگابایت
                            <small>
                                فضای ذخیره‌سازی
                            </small>
                        </li>



                    </ul>


                    <div class="price">
                        ۵۰،۰۰۰ تومان
                        <small>
                            به ازای هر کاربر
                        </small>
                    </div>
                    <div class="buttons">
                        <a href="https://serendip.cloud" class="button secondary">
                            <div class="icon">
                                {{> svg-button-icons-sign-up-small-5}}
                            </div>
                            ایجاد اشتراک

                        </a>
                    </div>
                </div>

                <div class="block">

                    <div class="bg">
                        {{> svg-pricing-pricing-94}}

                    </div>
                    <div class="title-icon">
                        {{> svg-pricing-pricing-79}}
                    </div>


                    <label for="">بدون محدودیت کاربر</label>
                    <ul>
                        <li>
                            ۱۰،۰۰۰ پیامک رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۱۰،۰۰۰ ایمیل رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۱،۰۰۰ فکس رایگان
                            <small>
                                (با شروع همکاری)
                            </small>
                        </li>
                        <li>
                            ۵ گیگابایت
                            <small>
                                فضای ذخیره‌سازی
                            </small>
                        </li>

                        <li>
                            ۱ ترابایت
                            <small>
                                فضای ذخیره‌سازی آفلاین
                            </small>
                        </li>
                        <li>
                            به همراه سرور باکس اختصاصی سرندیپ
                        </li>


                    </ul>


                    <div class="price">
                        ثبت درخواست

                    </div>
                    <div class="buttons">
                        <a href="https://serendip.cloud" class="button primary">
                            <div class="icon">
                                {{> svg-button-icons-tel-5}}
                            </div>
                            تماس بگیرید

                        </a>
                    </div>
                </div>
            </div>


        </div>


        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>