<!DOCTYPE html>
<html lang="fa">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">

        <div id="tos-page">

            <div class="top-banner" data-aos-duration="500" data-aos="fade-in">
                {{> svg-tos-terms-1}}
            </div>

            <div class="container">

                <section class="section-1" data-aos-duration="500" data-aos="fade-in">

                    <div class="subtitle">
                        توافق‌نامه کاربری
                    </div>

                    <p>
                        این وبسایت و خدمات ارائه‌شده در آن، توسط گروه سرندیپ مدیریت می‌شود (در این توافق‌نامه «سرندیپ»:
                        «ما»).
                        دسترسی به سرویس‌های سرندیپ، تنها با ایجاد حساب کاربری امکان‌پذیر خواهد بود (در این توافق‌نامه
                        «شما»).

                    </p>


                    <div class="clearfix"></div>

                </section>
                <div class="clearfix"></div>


                <section data-aos-duration="500" data-aos="fade-in">

                    <div class="subtitle">
                        حساب‌ها
                    </div>
                    <p>
                        با ثبت‌نام و فعال‌سازی حساب خود در سرندیپ، شما متعهد می‌شوید که به سن قانونی رسیده‌اید و تمامی
                        اطلاعات ارائه‌شده توسط شما، کامل، دقیق و به‌روز است.
                    </p>

                    <p>
                        مسئولیت حفظ رمز عبور و اطمینان از امینت دستگاه‌ها (تلفن همراه، تبلت یا کامپیوتر) و نرم‌افزارهای
                        سوم شخصی که جهت استفاده از سرندیپ به کار می‌برید بر عهده شماست و در صورت رعایت نکردن موارد
                        مذکور، مسئولیتی متوجه گروه سرندیپ نخواهد بود.

                    </p>
                    <p>
                        شما به طور کامل مسئول تمام فعالیت‌هایی هستید که توسط حساب، نام کاربری و رمز عبور شما انجام
                        می‌پذیرد. پس از اطلاع از هر گونه مشکل امنیتی یا استفاده غیرمجاز از حسابتان، بلافاصله ما را مطلع
                        سازید.
                    </p>

                    <p>
                        کاربران نسخه‌های سی آر ام کلاد سرندیپ شامل نسخه‌های پایه و حرفه‌ای، جهت بهره‌مندی از خدمات اس ام
                        اس، فکس، ایمیل و تمدید آن‌ها، ملزم به استفاده از سرویس‌های ارائه‌شده توسط سرندیپ هستند.

                    </p>

                    <p>
                        ثبت، بارگذاری و یا انتقال محتوای ناقض کپی رایت یا قانون جرایم رایانه‌ای (لینک) با استفاده از
                        خدمات ما غیرمجاز بوده و در صورت عدم پایبندی، مسئولیت آن متوجه شما خواهد بود.
                    </p>


                    <div class="subtitle">
                        حق مالکیت اطلاعات
                    </div>

                    <p>
                        مالک هر گونه اطلاعات واردشده در سرویس‌های سرندیپ، شما می‌باشید و سرندیپ اجازه دسترسی به این
                        اطلاعات را فقط به شما و کاربران تحت نظارت شما خواهد داد؛ این اطلاعات شامل آمار استفاده از
                        سرویس‌ها نمی‌باشد.
                    </p>
                    <p>
                        نخستین شخصی که به افتتاح حساب کاربری در نسخه‌های ابری نرم‌افزار (SCC) اقدام می‌نماید، برای گروه
                        سرندیپ به عنوان ادمین سی آر ام و مالک داده‌ها شناخته می‌شود. شما این امکان را خواهد داشت تا پس
                        از ایجاد حساب کاربری، اشخاص دیگر، شماره همراه، سمت شغلی و سطح دسترسی آن‌ها به داده‌ها را از طریق
                        پیشخوان تنظیمات نرم‌افزار به پنل مدیریت اضافه نمایید.
                    </p>


                    <p>
                        به عنوان ادمین سی آر ام، شما این امکان را دارید تا پس از اضافه کردن اشخاص جدید، کاربر دیگری را
                        از طریق پنل مدیریت در داشبورد نرم‌افزار، به عنوان مدیر و مالک اطلاعات تعیین کنید. در مرحله بعدی
                        و پس از انتقال مالکیت داده‌ها، اعمال تغییرات جدید از طریق ارسال پیامک توسط ما به ادمین جدید
                        نرم‌افزار اعلام خواهد شد. لازم به یادآوری است که ما تنها یک کاربر را در نسخه‌های ابری به عنوان
                        مالک داده‌های نرم‌افزار در نظر می‌گیریم.
                    </p>
                    <p>
                        شما این امکان را دارید تا در صورت تمایل، علاوه بر آن‌که مالکیت داده‌ها را در نسخه‌های لوکال سی
                        آر ام سرندیپ (SLC) در اختیار داشته باشید، اشخاص دیگری را به عنوان ادمین نرم‌افزار در نظر بگیرید.
                        با این حال، مالک داده‌های نرم‌افزار در نسخه‌های لوکال، تنها شخصی خواهد بود که نام ایشان به عنوان
                        طرف قرارداد در متن آن ذکر شده باشد.
                    </p>


                    <p>
                        شما به صورت پیش‌فرض با برخورداری از یک حساب کاربری، تنها امکان مدیریت داده‌های یک کسب و کار را
                        خواهید داشت. با این حال، این فرصت برای مخاطبان سی آر ام سرندیپ وجود دارد تا در صورت نیاز و با
                        پرداخت تعرفه‌های معینی، اطلاعات چندین کسب و کار را به صورت همزمان و با یک حساب کاربری مدیریت
                        نمایند.
                    </p>
                    <a href="/pages/pricing" class="button in-array primary">
                        <div class="icon">
                            {{> svg-button-icons-pricing-5}}
                        </div>
                        تعرفه‌ها
                    </a>

                    <p>
                        در صورت استفاده از سرویس‌ها و نرم‌افزارهای سوم شخص برای دسترسی به سرندیپ، آن‌ها نیز امکان دسترسی
                        به اطلاعات شما را خواهند داشت و لازم است توافق‌نامه‌ای برای حفظ اطلاعات با آن سرویس یا نرم‌افزار
                        توسط شما و ایشان منعقد گردد.
                    </p>

                    <p>
                        برای دریافت تمامی اطلاعاتی که تا کنون در سرویس‌های ما ثبت کرده‌اید، با مراجعه به بخش حساب کاربری
                        در وبسایت سرندیپ، می‌توانید خروجی اطلاعات خود را با فرمت JSON دریافت کنید.
                    </p>

                    <p>
                        شما در صورت تمایل به حذف حساب کاربری و اطلاعاتی که تا کنون در سرویس‌های سرندیپ وارد کرده‌اید، با
                        مراجعه به بخش حساب کاربری در وبسایت سرندیپ، قادر به حذف همیشگی اطلاعات خود از سرندیپ خواهید بود.
                    </p>

                    <div class="subtitle">
                        داده‌های حذف‌شده
                    </div>

                    <p>
                        در صورتی که حساب کاربری خود در نسخه‌های ابری (پایه و حرفه‌ای) نرم‌افزار سی آر ام سرندیپ را حذف
                        کنید، تمامی داده‌ها و اطلاعات مرتبط با حساب کاربری شما طی ۳۰ روز از سرورهای ما حذف خواهند شد. در
                        نظر داشته باشید که پس از اتمام این مدت زمان، سرندیپ هیچ‌گونه مسئولیتی در قبال بازگردانی داده‌های
                        حذف‌شده شما نخواهد داشت.
                    </p>


                    <div class="subtitle">
                        محدوده مسئولیت
                    </div>

                    <p>
                        سرندیپ موظف به حفظ امنیت اطلاعات شما در نسخه‌های کلاد (پایه و حرفه‌ای) سی آر ام می‌باشد و بدون
                        دریافت اجازه‌نامه کتبی از شما، حق رویت و دسترسی به داده‌های ذخیره‌شده شما در خارج از چارچوب
                        عملکرد نرم‌افزار را نخواهد داشت.
                    </p>
                    <p>
                        سرندیپ امنیت اطلاعات شما را در نسخه‌های ابری (پایه و حرفه‌ای) تضمین می‌نماید. در صورت بروز هر
                        گونه حادثه و یا اختلال در دسترسی به اطلاعات شما، سرندیپ موظف خواهد بود تا فایل پشتیبانی از
                        داده‌های شما در نسخه‌های کلاد که حداکثر تا دوازده ساعت گذشته ذخیره شده است را بازگردانی نماید؛
                        این اطلاعات شامل تمامی اطلاعات واردشده در سرویس‌های اینترنتی سرندیپ خواهد بود.
                    </p>
                    <p>
                        مسئولیت استفاده نامناسب از خدمات و نرم‌افزارهای سرندیپ که به صورت مستقیم یا غیرمستقیم منجر به
                        نقض قانون جرایم رایانه‌ای (لینک) شود، متوجه شما خواهد بود.

                    </p>

                    <p>
                        مسئولیت نتیجه‌گیری اشتباه از تحلیل‌های ارائه‌شده توسط سرویس‌های سرندیپ، تنها متوجه شما خواهد
                        بود.
                    </p>

                    <p>
                        شما می‌توانید با مراجعه به بخش ارسال تیکت در منوی نرم‌افزار، سوالات و درخواست‌های خود را برای
                        کارشناسان گروه سرندیپ ارسال نمایید. مدت زمان پاسخ‌دهی به تیکت‌های ارسالی شما در نسخه‌های حرفه‌ای
                        و شرکتی سی آر ام سرندیپ حداکثر تا دو روز کاری می‌باشد. پس از رویت تیکت‌های ارسالی نسخه شرکتی
                        توسط تیم پشتیبانی، کارشناسان سرندیپ حداکثر تا دو روز کاری با شما تماس خواهند گرفت. نحوه پشتیبانی
                        در نسخه‌های ابری سی آر ام سرندیپ، تنها از طریق ارسال تیکت و مدت زمان پاسخ‌دهی برای نسخه‌های
                        رایگان حداکثر تا هفت روز کاری می‌باشد.
                    </p>


                    <div class="subtitle">
                        کاربرد کوکی‌ها
                    </div>


                    <p>
                        سرندیپ کوکی‌هایی را برای شما ارسال می‌کند که به ما کمک خواهند کرد تا سیستمی که با استفاده از آن
                        از خدمات و ابزارهای سرندیپ استفاده می‌کنید را بشناسیم و قابلیت‌هایی همچون به خاطر سپردن شما به
                        هنگام ورود، به خاطر سپردن دستگاه شما هنگام احراز هویت دوفاکتوره و نگهداری از تنظیمات شخصی شما در
                        وبسایت سرندیپ را ارائه دهیم. قبول کردن کوکی‌های سرندیپ برای استفاده از خدمات آن الزامی‌است و در
                        صورت رد یا حذف کردن کوکی‌های سرندیپ، شما امکان ورود به سرندیپ و استفاده از خدمات آن را نخواهید
                        داشت.

                    </p>

                    <div class="subtitle">
                        تغییرات و سوالات
                    </div>
                    <p>
                        در صورت تغییرات احتمالی مفاد حفاظت از حریم شخصی و توافق‌نامه، از طریق ایمیل، نمایش یک پیام واضح
                        روی وبسایت و یا محیط کاربری نرم‌افزار، شما را همواره در جریان این تغییرات قرار خواهیم داد.
                    </p>
                    <p>
                        در مورد مفاد توافق‌نامه و حریم شخصی خود در سرندیپ سوالی دارید؟ لطفاً از طریق آدرس
                        support@serendip.cloud با ما در ارتباط باشید.
                    </p>

                    <p>
                        امیدواریم سرویس‌های سرندیپ باعث افزایش میزان بهره‌وری کسب و کار شما بشود. پیشنهادات و انتقادات
                        خود را در راستای بهبود سرویس‌دهی مطلوب از طریق راه‌های تماس (لینک) برای ما ارسال کنید؛ مشتاقانه
                        پذیرای نظرات سازنده شما خواهیم بود.
                    </p>

                </section>





            </div>
            <div class="bg">
                {{> svg-tos-terms-7}}
            </div>

        </div>

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>